body {
  background-color: rgba(240, 230, 140, 0.292);
  font-family: cursive;
  color: purple;
}
legend {
  font-size: larger;
  text-align: center;
  color: chartreuse;
}
textarea {
  width: 350px;
  height: 500px;
}
button {
  color: crimson;
}
